<!--

=========================================================
* Volt Free - Bootstrap 5 Dashboard
=========================================================

* Product Page: https://themesberg.com/product/admin-dashboard/volt-premium-bootstrap-5-dashboard
* Copyright 2020 Themesberg (https://www.themesberg.com)
* License (https://themesberg.com/licensing)

* Designed and coded by https://themesberg.com

=========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software. Please contact us to request a removal.

-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!-- Primary Meta Tags -->
    <title>Volt Free Bootstrap Dashboard - Settings</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="title" content="Volt Free Bootstrap Dashboard - Settings">
    <meta name="author" content="Themesberg">
    <meta name="description" content="Volt Pro is a Premium Bootstrap 5 Admin Dashboard featuring over 800 components, 10+ plugins and 20 example pages using Vanilla JS.">
    <meta name="keywords" content="bootstrap 5, bootstrap, bootstrap 5 admin dashboard, bootstrap 5 dashboard, bootstrap 5 charts, bootstrap 5 calendar, bootstrap 5 datepicker, bootstrap 5 tables, bootstrap 5 datatable, vanilla js datatable, themesberg, themesberg dashboard, themesberg admin dashboard"
    />
    <link rel="canonical" href="https://themesberg.com/product/admin-dashboard/volt-premium-bootstrap-5-dashboard">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://demo.themesberg.com/volt-pro">
    <meta property="og:title" content="Volt Free Bootstrap Dashboard - Settings">
    <meta property="og:description" content="Volt Pro is a Premium Bootstrap 5 Admin Dashboard featuring over 800 components, 10+ plugins and 20 example pages using Vanilla JS.">
    <meta property="og:image" content="https://themesberg.s3.us-east-2.amazonaws.com/public/products/volt-pro-bootstrap-5-dashboard/volt-pro-preview.jpg">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://demo.themesberg.com/volt-pro">
    <meta property="twitter:title" content="Volt Free Bootstrap Dashboard - Settings">
    <meta property="twitter:description" content="Volt Pro is a Premium Bootstrap 5 Admin Dashboard featuring over 800 components, 10+ plugins and 20 example pages using Vanilla JS.">
    <meta property="twitter:image" content="https://themesberg.s3.us-east-2.amazonaws.com/public/products/volt-pro-bootstrap-5-dashboard/volt-pro-preview.jpg">

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="120x120" href="/Admin/html&css/assets/img/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/Admin/html&css/assets/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/Admin/html&css/assets/img/favicon/favicon-16x16.png">
    <link rel="manifest" href="/Admin/html&css/assets/img/favicon/site.webmanifest">
    <link rel="mask-icon" href="/Admin/html&css/assets/img/favicon/safari-pinned-tab.svg" color="#ffffff">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">

    <!-- Fontawesome -->
    <link type="text/css" href="/Admin/html&css/vendor/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet">

    <!-- Sweet Alert -->
    <link type="text/css" href="/Admin/html&css/vendor/sweetalert2/dist/sweetalert2.min.css" rel="stylesheet">

    <!-- Notyf -->
    <link type="text/css" href="/Admin/html&css/vendor/notyf/notyf.min.css" rel="stylesheet">

    <!-- Volt CSS -->
    <link type="text/css" href="/Admin/html&css/css/volt.css" rel="stylesheet">

    <!-- NOTICE: You can use the _analytics.html partial to include production code specific code & trackers -->

</head>

<body>

    <!-- NOTICE: You can use the _analytics.html partial to include production code specific code & trackers -->



    <main class="content" style="margin-left: 0px;">
        <div class="col-12 col-lg-10" style="margin: auto;">
            <!-- <div class="card shadow p-2 p-md-4">
                <div class="card-header px-0">
                    <div class="post-meta">
                        <div class="media d-flex align-items-center justify-content-between">
                            <div class="post-group">
                                <a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-original-title="23k followers" data-bs-original-title="23k followers"><img class="avatar-sm me-2 img-fluid rounded-circle" src="/images/avatars/<%= Articles[0].Article_Owner.User_Avatar %>" alt="avatar"> </a>
                            </div>
                            <div class="d-flex align-items-center">
                                <div class="author-name text-dark fw-bold font-small me-4 d-none d-lg-block">Posted by
                                    <a href="#" class="me-2">
                                        <%= Articles[0].Article_Owner.User_Name %>
                                    </a>5 hours ago</div>
                                <div class="btn-group"><button class="btn btn-link dropdown-toggle dropdown-toggle-split m-0 p-0" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="icon icon-sm"><i class="fas fa-ellipsis-h icon-dark"></i> </span><span class="sr-only">Toggle Dropdown</span></button>
                                    <div class="dropdown-menu py-0"><a class="dropdown-item rounded-top" href="#"><span class="fas fa-edit me-2"></span>Edit post</a> <a class="dropdown-item text-danger rounded-bottom" href="#"><span class="fa fa-trash me-2" aria-hidden="true"></span>Delete post</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body py-4 px-0">
                    <a href="#"><img src="/images/ArticleAvatar/<%= Articles[i].Article_Avatar %>" class="card-img-top rounded" alt="blog image">
                        <h4 class="my-4"><%= Articles[i].Article_Title %></h4>
                    </a>
                    <p class="card-text mb-4" src="<%= Articles[i].Article_File_Location %>">s</p>
                </div>
                <div class="card-footer bg-white border-0 pt-0 px-0">
                    <div class="d-flex flex-wrap flex-lg-nowrap align-items-center justify-content-between">
                        <div class="post-details mb-3 mb-lg-0"><button class="btn btn-sm btn-dark animate-hover me-2"><span class="fas fa-arrow-up me-2 animate-up-2"></span> 4</button> <button class="btn btn-sm btn-danger animate-hover"><span class="fas fa-arrow-down me-2 animate-down-2"></span> 1</button></div>
                        <div class="post-meta"><a class="text-dark me-3" href="#"><i class="far fa-comments me-2"></i>33.7k</a> <button class="btn me-3 btn-link text-primary"><i class="fas fa-share me-2"></i>Share</button> <button class="btn btn-secondary"><i class="far fa-save me-2"></i>Save</button></div>
                    </div>
                </div>
            </div> -->
        </div>
        <section class="content-item" id="comments">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">

                        <h3 class="pull-left">ثبت نظر </h3>

                        <% if(User.UserLogin == "NotLogin"){ %>
                            <button id="ModalLogin" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                            نظر خود را ثبت کنید
                          </button>
                            <!-- Modal -->
                            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content" style="width: 900px;">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel"> برای ثبت نظر باید وارد حساب خود شوید</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                        </div>
                                        <div class="modal-body" style="width:900px;background-color: aqua;">
                                            <div style="display: flex;justify-content: space-between;">
                                                <div id="LoginUser" style="background-color: coral;margin-right: 20px;">
                                                    <input id="LoginUserName" type="text" placeholder="Username">
                                                    <input id="LoginPassword" type="password" placeholder="Password">
                                                    <button id="Login_User" type="button" class="btn btn-primary">ورود</button>
                                                </div>
                                                <div>
                                                    <div id="formLogin" style="background-color:darkgoldenrod;">
                                                        <!-- <label style="position:absolute; top:20px;left:20px" for="Username" class="">User name :</label> -->
                                                        <input id="Username" type="text" style="margin:2px 5px 25px 5px" type="text" placeholder="نام کاربری" />
                                                        <div style="display: flex;justify-content: space-between;">
                                                            <!-- <label style="position:absolute;top:100px;left:20px" for="FirstName" class="">First name :</label> -->
                                                            <input id="FirstName" style="margin:2px 5px 25px 5px" type="text" placeholder="نام " />
                                                            <!-- <label style="position:absolute;top:100px;left:230px" for="LastName" class="">Last name :</label> -->
                                                            <input id="LastName" style="margin:2px 5px 25px 5px" type="text" placeholder="نام خانوادگی" />
                                                        </div>
                                                        <!-- <label style="position:absolute;top:175px;left:20px" for="UserEmail" class="">Email name :</label> -->
                                                        <input id="UserEmail" style="margin:2px 5px 25px 5px" type="email" placeholder="ایمیل" />
                                                        <!-- <label style="position:absolute;top:250px;left:20px" for="UserNumber" class="">Number name :</label> -->
                                                        <input id="UserNumber" style="margin:2px 5px 25px 5px" type="text" placeholder="شماره همراه" />
                                                        <div style="display: flex;justify-content: space-between;">

                                                            <select id="UserGender" style="margin:2px -40px 25px 63px">
                                                            <option value="0">جنسیت</option>
                                                            <option value="1">مرد</option>
                                                            <option value="2">زن</option>
                                                            <option value="3">سایر موارد</option>
                                                          </select>
                                                        </div>
                                                        <div style="display: flex;justify-content: space-between;">
                                                            <input id="UserPassword" style="margin:2px 5px 25px 5px" type="password" placeholder="رمز عبور" />
                                                            <input id="PasswordVerify" style="margin:2px 5px 25px 5px" type="password" placeholder="تکرار رمز عبور" />

                                                        </div>
                                                        <button id="Submit_User">ایجاد حساب </button>
                                                        <!-- <button id="Submit_User" type="submit">Sign Up</button> -->
                                                    </div>
                                                </div>
                                            </div>


                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>


                                        </div>
                                    </div>
                                </div>
                            </div>
                            <fieldset>
                                <div class="row" style="display: none;">
                                    <div class="col-sm-3 col-lg-2 hidden-xs">
                                        <img id="User_Avatar" style="vertical-align: middle; width: 150px;  height: 150px;  border-radius: 50%;" class="media-object" src="/images/avatars/Default.png" alt="">
                                    </div>
                                    <div class="form-group col-xs-12 col-sm-9 col-lg-10">
                                        <textarea id="Comment_Text" class="form-control" id="message" placeholder="Your message" required=""></textarea>
                                    </div>
                                    <button id="Submit_Comment" type="submit" class="btn btn-normal pull-right">افزودن نظر</button>
                                </div>
                            </fieldset>
                            <% }else{%>
                                <fieldset>
                                    <div class="row" style="display: block;">
                                        <div class="col-sm-3 col-lg-2 hidden-xs">
                                            <img id="User_Avatar" style="vertical-align: middle; width: 150px;  height: 150px;  border-radius: 50%;" class="media-object" src="/images/avatars/<%= User.User_Avatar %>" alt="">
                                        </div>
                                        <div class="form-group col-xs-12 col-sm-9 col-lg-10">
                                            <textarea id="Comment_Text" class="form-control" id="message" placeholder="Your message" required=""></textarea>
                                        </div>
                                        <button id="Submit_Comment" type="submit" class="btn btn-normal pull-right">افزودن نظر</button>
                                    </div>
                                </fieldset>
                                <% } %>
                                    <h3>4 Comments</h3>

                                    <!-- COMMENT 1 - START -->
                                    <% for (var i = 0; i <Comments.length; i++) { %>
                                        <div class="media">
                                            <a class="pull-left" href="#"><img class="media-object" src="/images/avatars/<%= Comments[i].Comment_Owner.User_Avatar %>" alt=""></a>
                                            <div class="media-body">
                                                <h4 class="media-heading">
                                                    <%= Comments[i].Comment_Owner.User_Name %>
                                                </h4>
                                                <p>
                                                    <%= Comments[i].Comment_Text %>
                                                </p>
                                                <ul class="list-unstyled list-inline media-detail pull-left">
                                                    <li><i class="fa fa-calendar"></i>27/02/2014</li>
                                                    <li><i class="fa fa-thumbs-up"></i>13</li>
                                                </ul>
                                                <ul class="list-unstyled list-inline media-detail pull-right">
                                                    <li class=""><a href="">Like</a></li>
                                                    <li class=""><a href="">Reply</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <%}%>
                    </div>
                </div>
            </div>
        </section>

        <footer class="footer section py-5">
            <div class="row">
                <div class="col-12 col-lg-6 mb-4 mb-lg-0">
                    <p class="mb-0 text-center text-xl-left">Copyright © 2019-<span class="current-year"></span> <a class="text-primary fw-normal" href="https://themesberg.com" target="_blank">Themesberg</a></p>
                </div>

                <div class="col-12 col-lg-6">
                    <!-- List -->
                    <ul class="list-inline list-group-flush list-group-borderless text-center text-xl-right mb-0">
                        <li class="list-inline-item px-0 px-sm-2">
                            <a href="https://themesberg.com/about">About</a>
                        </li>
                        <li class="list-inline-item px-0 px-sm-2">
                            <a href="https://themesberg.com/themes">Themes</a>
                        </li>
                        <li class="list-inline-item px-0 px-sm-2">
                            <a href="https://themesberg.com/blog">Blog</a>
                        </li>
                        <li class="list-inline-item px-0 px-sm-2">
                            <a href="https://themesberg.com/contact">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </footer>
    </main>

    <!-- Core -->
    <script src="/Admin/html&css/vendor/@popperjs/core/dist/umd/popper.min.js"></script>
    <script src="/Admin/html&css/vendor/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- Vendor JS -->
    <script src="/Admin/html&css/vendor/onscreen/dist/on-screen.umd.min.js"></script>

    <!-- Slider -->
    <script src="/Admin/html&css/vendor/nouislider/distribute/nouislider.min.js"></script>

    <!-- Smooth scroll -->
    <script src="/Admin/html&css/vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>

    <!-- Charts -->
    <script src="/Admin/html&css/vendor/chartist/dist/chartist.min.js"></script>
    <script src="/Admin/html&css/vendor/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.min.js"></script>

    <!-- Datepicker -->
    <script src="/Admin/html&css/vendor/vanillajs-datepicker/dist/js/datepicker.min.js"></script>

    <!-- Sweet Alerts 2 -->
    <script src="/Admin/html&css/vendor/sweetalert2/dist/sweetalert2.all.min.js"></script>

    <!-- Moment JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment.min.js"></script>

    <!-- Vanilla JS Datepicker -->
    <script src="/Admin/html&css/vendor/vanillajs-datepicker/dist/js/datepicker.min.js"></script>

    <!-- Notyf -->
    <script src="/Admin/html&css/vendor/notyf/notyf.min.js"></script>

    <!-- Simplebar -->
    <script src="/Admin/html&css/vendor/simplebar/dist/simplebar.min.js"></script>

    <!-- Github buttons -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>

    <!-- Volt JS -->
    <script src="/Admin/html&css/assets/js/volt.js"></script>


</body>

</html>