<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Responsive sidebar template with sliding effect and dropdown menu based on bootstrap 3">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <link rel="stylesheet" href="/stylesheets/Dashboard.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <!-- CSS -->
    <link rel="stylesheet" href="https://cdn.rtlcss.com/bootstrap/v4.5.3/css/bootstrap.min.css" integrity="sha384-JvExCACAZcHNJEc7156QaHXTnQL3hQBixvj5RV5buE7vgnNEzzskDtx9NQ4p6BJe" crossorigin="anonymous">

    <!-- jQuery and JS bundle w/ Popper.js -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.rtlcss.com/bootstrap/v4.5.3/js/bootstrap.bundle.min.js" integrity="sha384-40ix5a3dj6/qaC7tfz0Yr+p9fqWLzzAXiwxVLt9dw7UjQzGYw6rWRhFAnRapuQyK" crossorigin="anonymous"></script>
    <!--             تکس ادیتور -->
    <script src="https://cdn.ckeditor.com/4.16.0/full/ckeditor.js"></script>
    <title>داشبورد</title>
</head>

<body>

    <div class="page-wrapper chiller-theme toggled" style="direction: rtl;">
        <a id="show-sidebar" class="btn btn-sm btn-dark" href="#" style="direction: rtl;">
            <i class="fas fa-bars"></i>
        </a>
        <div>
            <nav style="background:rgba(255,255,255,0.25);box-shadow:10px rgb(31,38,135,0.37);backdrop-filter: blur(6.0px);" id="sidebar" class="sidebar-wrapper rtl" style="direction: rtl; ">
                <div class="sidebar-content" style="direction: rtl;   ">
                    <div class="sidebar-brand">
                        <a href="#" style="width: 50%;"> حالت شب</a>
                        <div class="container  d-flex" style="width: 200px;">
                            <div class="one-quarter" id="switch" style="color:aliceblue;padding-bottom: 20px;">
                                <input type="checkbox" class="checkbox" id="chk" />
                                <label class="label" for="chk">
                                  <i class="fas fa-moon" style="margin-left: 10px;"></i>
                                  <i class="fas fa-sun"></i>
                                  <div class="ball"></div>
                              </label>
                            </div>
                        </div>
                        <div id="close-sidebar">
                            <i class="fas fa-times"></i>
                        </div>
                    </div>
                    <div class="sidebar-header">
                        <div class="user-pic">
                            <img class="img-responsive img-rounded" src='/images/avatars/<%= existUser[0].User_Avatar %>' alt="User picture">
                        </div>
                        <div class="user-info">
                            <span class="user-name">
                                <%= existUser[0].User_First_Name %> <%= existUser[0].User_Last_Name %>
                      <strong> <%= existUser[0].User_Name %></strong>
                    </span>
                            <span class="user-role"> <%= existUser[0].User_Role %></span>
                            <span class="user-status">
                      <i class="fa fa-circle"></i>
                      <span>Online</span>
                            </span>
                        </div>
                    </div>
                    <!-- sidebar-header  -->
                    <div class="sidebar-search">
                        <div>
                            <div class="input-group">
                                <input type="text" class="form-control search-menu" placeholder="Search...">
                                <div class="input-group-append">
                                    <span class="input-group-text">
                          <i class="fa fa-search" aria-hidden="true"></i>
                        </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- sidebar-search  -->
                    <div class="sidebar-menu">
                        <ul>
                            <li class="header-menu">
                                <span>دسترسی ها</span>
                            </li>
                            <li class="sidebar-dropdown">
                                <a href="#">
                                    <i class="fas fa-edit"></i>
                                    <span>ویرایش اطلاعات</span>
                                </a>
                                <div class="sidebar-submenu">
                                    <ul>
                                        <li>
                                            <a id="Btn_Edit_Password">تغییر رمز عبور
                           
                            </a>
                                        </li>
                                        <li>
                                            <a id="Btn_Edit_Avatar">تغیر عکس پروفایل</a>
                                        </li>
                                        <li>
                                            <a id="Btn_Edit_Info">تغییر سایر اطلاعات</a>
                                        </li>
                                        <li>
                                            <a href="/DashboardUser/DashboardDelete">حذف حساب کاربری</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="sidebar-dropdown">
                                <a href="#">
                                    <i class="fa fa-book"></i>
                                    <span>مقالات من</span>

                                </a>
                                <div class="sidebar-submenu">
                                    <ul>
                                        <li>
                                            <a href="/Articles" id="Articles">همه مقالات
          
                            </a>
                                        </li>
                                        <li>
                                            <a id="Add_Article">افزودن مقاله جدید</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <!-- sidebar-menu  -->
                </div>
                <!-- sidebar-content  -->
                <div class="sidebar-footer" style="height: 100px;">

                    <a href="/DashboardUser/DashboardLogOut" style="display:flex;justify-content:flex-start;">

                        <i class="fa fa-power-off fa-3x" style="margin-top:30px"></i>
                        <p style="color:rgb(206, 212, 218);margin-top: 30px;font-size:35px">خروج</p>
                    </a>
                </div>
            </nav>
        </div>

        <!-- sidebar-wrapper  -->
        <main class="page-content">
            <div class="container-fluid">
                <h2>حساب کاربری من</h2>
                <hr>
                <div id="New_Article" class="row" style="display: none ;">
                    <div class="form-group col-md-12">
                        <div class="alert alert-success" role="alert">
                            <h4 class="alert-heading">افزودن مقاله جدید</h4>

                            <a target="_blank" class="btn btn-sm btn-primary mr-2" id="btn-AddArticle">
                    ایجاد</a>


                        </div>

                    </div>
                </div>
                <div id="User_Articles" style="display:block;margin-top:250px">
                    <h5>آخرین مقالات</h5>
                    <hr>
                    <section class="container">
                        <div class="row active-with-click">
                            <% if(existArticle.length>0){ %>
                                <% for(let i = 0; i < existArticle.length; i++){ %>
                                    <div class="col-md-4 col-sm-6 col-xs-12">

                                        <article class="material-card Red">
                                            <h2>
                                                <span><img  src='/images/avatars/<%= existUser[0].User_Avatar %>' alt="Avatar" class="avatar" style="vertical-align: middle; width: 50px;  height: 50px;  border-radius: 50%;"><%= existArticle[i].Article_Title %></span>

                                                <a href="/Articles/ArticlePage/<%= existArticle[i]._id %>" style="text-decoration: none"><button type="button" class="btn btn-info" style="margin-right: 80px;">اطلاعات بیشتر</button></a>
                                            </h2>

                                            <div class="mc-content">
                                                <div class="img-container" style=" background-size:cover;">
                                                    <img class="img-responsive" src='/images/ArticleAvatar/<%= existArticle[i].Article_Avatar %>'>
                                                </div>
                                                <div class="mc-description">
                                                    <%= existArticle[i].Article_Summary %>
                                                </div>
                                            </div>
                                            <a class="mc-btn-action">
                                                <i class="fa fa-bars"></i>
                                            </a>
                                            <div class="mc-footer">
                                                <button onclick="DeleteArticle('<%= existArticle[i]._id %>')" style="margin-right: 50px;" type="button" class="btn btn-danger">حذف مقاله </button>
                                                <button onclick="EditeArticle('<%= existArticle[i]._id %>')" id='Edit_Article_Info' type="button" class="btn btn-success"> ویرایش مقاله </button>

                                            </div>
                                        </article>

                                    </div>
                                    <% }}%>
                        </div>
                    </section>



                </div>

            </div>
            <hr>
            <div id="Edit_Info" style="display: none;">
                <label for='basicInfo' class='text-primary display-5'>ویرایش اطلاعات :</label>
                <div class='border border-dark p-4 rounded' id='basicInfo'>
                    <div class='form-group'>
                        <label for='User-Name' class='text-primary'>نام کاربری</label>
                        <input type='text' class='form-control' value='<%= existUser[0].User_Name %>' id='User-Name'>
                        <div class='text-danger collapse' id='valTitle'>Action Title is required.</div>
                        <label for='User-FirstName' class='text-primary'>نام </label>
                        <input type='text' class='form-control' value='<%= existUser[0].User_First_Name %>' id='User-FirstName'>
                        <div class='text-danger collapse' id='valFirstName'>Action Title is required.</div>
                        <label for='User-LastName' class='text-primary'>  نام خانوداگی</label>
                        <input type='text' class='form-control' value='<%= existUser[0].User_Last_Name %>' id='User-LastName'>
                        <div class='text-danger collapse' id='valLastName'>Action Title is required.</div>
                        <label for='User-Email' class='text-primary'>ایمیل </label>
                        <input type='text' class='form-control' value='<%= existUser[0].User_Email %>' id='User-Email' class='text-primary'>'>
                        <div class='text-danger collapse' id='valEmail'>Action Title is required.</div>
                        <label for='User-Number' class='text-primary'>شماره همراه </label>
                        <input type='text' class='form-control' value='<%= existUser[0].User_Number %>' id='User-Number'>
                        <div class='text-danger collapse' id='valNumber'>Action Title is required.</div>

                    </div>

                    <!-- Begin Action Dept/Due/Assigned -->
                    <div class='form-group row'>
                        <div class='col'>
                            <label for='samsDept' class='text-primary'> جنسیت </label>
                            <select class='form-control' id='Gender'>
                                    <option value=0>جنسیت خود را انتخاب کنید</option>
                                        <option value=1>مرد</option>
                                        <option value=2>زن</option>
                                        <option value=3>سایر موارد</option>
                                    </select>
                            <div class='text-danger collapse' id='valDept'>Department is required.</div>
                        </div>
                        <!-- Begin Action Dept/Due/Assigned -->

                    </div>
                    <a target="_blank" class="btn btn-sm btn-primary mr-2" id='Btn_Submit'>
                            اعمال تغییرات</a>
                </div>

                <!-- Begin Sub-Actions -->
                <div class='form-group newAction'>
                    <div id='subActions' class='collapse form-group p-4' data-toggle='collapse'>
                        <label for='subActionDiv' class='text-primary'>Sub Actions</label>
                        <div class='border-4 border-dark rounded' id='subActionDiv'>
                            <div class='row d-flex justify-content-end m-2'>
                                <button type='button' class='btn btn-primary btn-sm' id='addRow'>Add Row</button>
                            </div>
                            <table class='table'>
                                <thead>
                                    <tr>
                                        <th scope='col'>Title</th>
                                        <th scope='col'>Description</th>
                                        <th scope='col'>Assigned To</th>
                                        <th scope='col'>Due Date</th>
                                        <th scope='col'>Remove</th>
                                    </tr>
                                </thead>
                                <tbody id='subTable'>
                                    <tr>
                                        <td><input type='text' class='form-control subTitle'></td>
                                        <td><textarea type='text' class='form-control subDesc'></textarea></td>
                                        <td>
                                            <div class='subAssigned' id='row-1'></div>
                                        </td>
                                        <td><input type='text' class='form-control subDue' id='dueDate'></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- Begin Sub-Actions -->

            </div>
            <div id="Edit_Password" style="display: none;">
                <label for='basicInfo' class='text-primary display-5'> تغییر رمز عبور</label>
                <div class='border border-dark p-4 rounded' id='basicInfo'>
                    <div class='form-group'>
                        <label for='OldPassword' class='text-primary'>رمز عبور :</label>
                        <input type='text' class='form-control' placeholder='رمز عبور فعلی خود را وارد کنید' id='OldPassword'>
                        <div class='text-danger collapse' id='valTitle'>Action Title is required.</div>
                        <label for='NewPassword' class='text-primary'>رمز عبور جدبد</label>
                        <input type='text' class='form-control' placeholder='رمز عبور جدید خود را وارد کنید' id='NewPassword'>
                        <div class='text-danger collapse' id='valNewPassword'>Action Title is required.</div>
                        <label for='VerifyNewPassword' class='text-primary'>  تکرار رمز عبور جدید</label>
                        <input type='text' class='form-control' placeholder='رمز عبور جدید خود را تکرار کنید' id='VerifyNewPassword'>
                        <div class='text-danger collapse' id='valVerifyNewPassword'>Action Title is required.</div>


                    </div>

                    <a target="_blank" class="btn btn-sm btn-primary mr-2" id='Btn_Edit_Password_Submit'>
                            اعمال تغییرات</a>
                </div>

                <!-- Begin Sub-Actions -->
                <div class='form-group newAction'>
                    <div id='subActions' class='collapse form-group p-4' data-toggle='collapse'>
                        <label for='subActionDiv' class='text-primary'>Sub Actions</label>
                        <div class='border-4 border-dark rounded' id='subActionDiv'>
                            <div class='row d-flex justify-content-end m-2'>
                                <button type='button' class='btn btn-primary btn-sm' id='addRow'>Add Row</button>
                            </div>
                            <table class='table'>
                                <thead>
                                    <tr>
                                        <th scope='col'>Title</th>
                                        <th scope='col'>Description</th>
                                        <th scope='col'>Assigned To</th>
                                        <th scope='col'>Due Date</th>
                                        <th scope='col'>Remove</th>
                                    </tr>
                                </thead>
                                <tbody id='subTable'>
                                    <tr>
                                        <td><input type='text' class='form-control subTitle'></td>
                                        <td><textarea type='text' class='form-control subDesc'></textarea></td>
                                        <td>
                                            <div class='subAssigned' id='row-1'></div>
                                        </td>
                                        <td><input type='text' class='form-control subDue' id='dueDate'></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- Begin Sub-Actions -->

            </div>
            <div id="Edit_Avatar" style="display: none;">
                <label for='basicInfo' class='text-primary display-5'> عکس پروفایل خود را بارگزاری کنید.</label>
                <div class='border border-dark p-4 rounded' id='basicInfo'>

                    <!-- <input type="file" name="avatar" value="" id="New_User_Avatar" /> -->
                    <form action="/DashboardUser/DashboardAvatar" method="post" enctype="multipart/form-data">

                        <input type="file" name="avatar" />
                        <input type="submit" value="submit" />
                    </form>
                    <br>
                    <!-- <a target="_blank" class="btn btn-sm btn-primary mr-2" id='Btn_Edit_Avatar_Submit' style='margin-top:30px'>
                                اعمال تغییرات</a> -->

                </div>

            </div>
            <div id="AddArticle" style="display: none;">
                <div>
                    <div id="AddName" style="display: none">
                        <label for='basicInfo' class='text-primary display-5'>مقاله جدید :</label>
                        <div class='border border-dark p-4 rounded' id='basicInfo'>
                            <div class='form-group'>
                                <label for='User-Name' class='text-primary'>نام مقاله جدید</label>
                                <input type='text' class='form-control' placeholder='نام مقاله خود را وارد کنید.' id='Article_Name'>
                            </div>

                            <a target="_blank" class="btn btn-sm btn-primary mr-2" id='Btn_Add_Avatar_Article' style='margin-top:30px'>
                                            مرحله بعد</a>
                        </div>
                    </div>
                    <div id="ArticleAvatar" style="display: none;">

                        <label for='basicInfo' class='text-primary display-5'> عکس مقاله خود را بارگزاری کنید.</label>
                        <div class='border border-dark p-4 rounded' id='basicInfo'>

                            <input type="file" name="avatar" id="ArticleAvatars" />
                            <br>

                            <a target="_blank" class="btn btn-sm btn-primary mr-2" id='Btn_Back_Name_Article' style='margin-top:30px'>
                                    مرحله قبل</a>
                            <a target="_blank" class="btn btn-sm btn-primary mr-2" id='Btn_Add_Article' style='margin-top:30px'>
                                            مرحله بعد </a>

                        </div>

                    </div>
                    <div id="TextEditor" style="display: none;">
                        <form action="../Articles/SubmitArticle" method="post" enctype="multipart/form-data">
                            <textarea name="editor1"></textarea>


                            <script>
                                CKEDITOR.replace('editor1', {
                                    uiColor: '#9AB8F3',

                                    filebrowserUploadUrl: '/Articles/AddArticlesPhotos',

                                })
                            </script>
                            <a target="_blank" class="btn btn-sm btn-primary mr-2" id='Btn_Edit_Avatatr'>
                                مرحله قبل</a>
                            <a target="_blank" class="btn btn-sm btn-primary mr-2" id="btn-submit-AddArticle">
                             ایجاد مقاله</a>
                    </div>

                    <br>



                </div>
            </div>
            <div id="EditArticles" style="display: none;">
                <div>
                    <label for='basicInfo' class='text-primary display-5'>ویرایش مقاله :</label>

                    <div class='border border-dark p-4 rounded' id='basicInfo'>
                        <div class='form-group'>
                            <label for='User-Name' class='text-primary'> نام مقاله خود را وارد کنید</label>
                            <input type='text' class='form-control' placeholder='نام مقاله خود را وارد کنید.' id='Article_Edit_Name'>
                            <a target="_blank" class="btn btn-sm btn-primary mr-2" id="btn-submit-EditArticleTitle">
                                ذخیره </a>
                        </div>

                    </div>
                    <br>
                    <div class='border border-dark p-4 rounded' id='basicInfo'>
                        <label for='basicInfo' class='text-primary display-5'> عکس مقاله خود را بارگزاری کنید.</label>
                        <input type="file" name="avatar" id="ArticleEditAvatars" />
                        <a target="_blank" class="btn btn-sm btn-primary mr-2" id="btn-submit-EditArticleAvatar">
                            ذخیره </a>
                        <span>  <p> عکس در حال حاضر مقاله</p><img id="Article_Edite_Avatar" alt="Avatar" class="avatar" style="vertical-align: middle; width: 50px;  height: 50px;  border-radius: 50%;"></span>

                    </div>
                    <br>
                    <div class='border border-dark p-4 rounded' id='basicInfo'>
                        <textarea name="editor2"></textarea>
                        <script>
                        </script>

                        <a target="_blank" class="btn btn-sm btn-primary mr-2" id="btn-submit-EditArticleData">
                              ذخیره </a>
                    </div>

                </div>

            </div>


        </main>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
        <script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>
        <script src="//cdn.jsdelivr.net/npm/promise-polyfill@8/dist/polyfill.js"></script>
        <!-- <script src="https://cdn.ckeditor.com/ckeditor5/[version.number]/[distribution]/ckeditor.js"></script> -->
        <script src="/javascripts/Dashboard.js"></script>

</body>

</html>