<!--

=========================================================
* Volt Free - Bootstrap 5 Dashboard
=========================================================

* Product Page: https://themesberg.com/product/admin-dashboard/volt-premium-bootstrap-5-dashboard
* Copyright 2020 Themesberg (https://www.themesberg.com)
* License (https://themesberg.com/licensing)

* Designed and coded by https://themesberg.com

=========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software. Please contact us to request a removal.

-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!-- Primary Meta Tags -->
    <title>Volt - Free Bootstrap 5 Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="title" content="Volt - Free Bootstrap 5 Dashboard">
    <meta name="author" content="Themesberg">
    <meta name="description" content="Volt Pro is a Premium Bootstrap 5 Admin Dashboard featuring over 800 components, 10+ plugins and 20 example pages using Vanilla JS.">
    <meta name="keywords" content="bootstrap 5, bootstrap, bootstrap 5 admin dashboard, bootstrap 5 dashboard, bootstrap 5 charts, bootstrap 5 calendar, bootstrap 5 datepicker, bootstrap 5 tables, bootstrap 5 datatable, vanilla js datatable, themesberg, themesberg dashboard, themesberg admin dashboard"
    />
    <link rel="canonical" href="https://themesberg.com/product/admin-dashboard/volt-premium-bootstrap-5-dashboard">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://demo.themesberg.com/volt-pro">
    <meta property="og:title" content="Volt - Free Bootstrap 5 Dashboard">
    <meta property="og:description" content="Volt Pro is a Premium Bootstrap 5 Admin Dashboard featuring over 800 components, 10+ plugins and 20 example pages using Vanilla JS.">
    <meta property="og:image" content="https://themesberg.s3.us-east-2.amazonaws.com/public/products/volt-pro-bootstrap-5-dashboard/volt-pro-preview.jpg">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://demo.themesberg.com/volt-pro">
    <meta property="twitter:title" content="Volt - Free Bootstrap 5 Dashboard">
    <meta property="twitter:description" content="Volt Pro is a Premium Bootstrap 5 Admin Dashboard featuring over 800 components, 10+ plugins and 20 example pages using Vanilla JS.">
    <meta property="twitter:image" content="https://themesberg.s3.us-east-2.amazonaws.com/public/products/volt-pro-bootstrap-5-dashboard/volt-pro-preview.jpg">

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="120x120" href="/Admin/html&css/assets/img/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/Admin/html&css/assets/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/Admin/html&css/assets/img/favicon/favicon-16x16.png">
    <link rel="manifest" href="/Admin/html&css/assets/img/favicon/site.webmanifest">
    <link rel="mask-icon" href="/Admin/html&css/assets/img/favicon/safari-pinned-tab.svg" color="#ffffff">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">

    <!-- Fontawesome -->
    <link type="text/css" href="/Admin/html&css/vendor/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet">

    <!-- Sweet Alert -->
    <link type="text/css" href="/Admin/html&css/vendor/sweetalert2/dist/sweetalert2.min.css" rel="stylesheet">

    <!-- Notyf -->
    <link type="text/css" href="/Admin/html&css/vendor/notyf/notyf.min.css" rel="stylesheet">

    <!-- Volt CSS -->
    <link type="text/css" href="/Admin/html&css/css/volt.css" rel="stylesheet">

    <!-- NOTICE: You can use the _analytics.html partial to include production code specific code & trackers -->
    <script src="https://cdn.ckeditor.com/4.16.0/standard/ckeditor.js"></script>
</head>

<body>

    <!-- NOTICE: You can use the _analytics.html partial to include production code specific code & trackers -->



    <main class="content" style="margin-left:0px">

        <nav class="navbar navbar-top navbar-expand navbar-dashboard navbar-dark ">
            <div class="container-fluid px-0">
                <div class="d-flex justify-content-between w-100" id="navbarSupportedContent">
                    <div class="d-flex align-items-center">
                        <!-- Search form -->
                        <form class="navbar-search form-inline" id="navbar-search-main">
                            <div class="input-group input-group-merge search-bar">
                                <span class="input-group-text" id="topbar-addon"><span class="fas fa-search"></span></span>
                                <input type="text" class="form-control" id="topbarInputIconLeft" placeholder="Search" aria-label="Search" aria-describedby="topbar-addon">
                            </div>
                        </form>
                    </div>
                    <!-- Navbar links -->
                    <ul class="navbar-nav align-items-center">

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle pt-1 px-0" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <div class="media d-flex align-items-center">
                                    <img class="user-avatar md-avatar rounded-circle" alt="Image placeholder" src="/images/avatars/<%= User_Online.User_Avatar %>">
                                    <div class="media-body ms-2 text-dark align-items-center d-none d-lg-block">
                                        <span class="mb-0 font-small fw-bold"><%=  User_Online.User_Role %></span>
                                    </div>
                                </div>
                            </a>
                            <div class="dropdown-menu dashboard-dropdown dropdown-menu-end mt-2 py-0">
                                <a class="dropdown-item rounded-top fw-bold" href="#"><span class="far fa-user-circle"></span>My Profile</a>
                                <a class="dropdown-item fw-bold" href="#"><span class="fas fa-cog"></span>Settings</a>
                                <a class="dropdown-item fw-bold" href="#"><span class="fas fa-envelope-open-text"></span>Messages</a>
                                <a class="dropdown-item fw-bold" href="#"><span class="fas fa-user-shield"></span>Support</a>
                                <div role="separator" class="dropdown-divider my-0"></div>
                                <a class="dropdown-item rounded-bottom fw-bold" href="#"><span class="fas fa-sign-out-alt text-danger"></span>Logout</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div id="UserArticles" style="margin-top:10px;display:flex;justify-content: space-around; flex-wrap: wrap;">
            <% for(var i =0 ; i<Articles.length ; i++) { %>
                <div class="card col-sm-5 shadow p-2 p-md-4">
                    <div class="card-header px-0">
                        <div class="post-meta">
                            <div class="media d-flex align-items-center justify-content-between">
                                <div class="post-group">
                                    <a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-original-title="23k followers" data-bs-original-title="23k followers">
                                <img class="avatar-lg me-2 img-fluid rounded-circle" src="/images/avatars/<%= Articles[i].Article_Owner.User_Avatar %>" alt="avatar"></a>
                                </div>
                                <div class="d-flex align-items-center">

                                    <div class="author-name text-dark fw-bold font-small me-4 d-none d-lg-block">Posted by
                                        <a href="#" class="me-2">

                                            <%= Articles[i].Article_Owner.User_Name %>
                                        </a>
                                        <div class="btn-group"><button class="btn btn-link dropdown-toggle dropdown-toggle-split m-0 p-0" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="icon icon-sm"><i class="fas fa-ellipsis-h icon-dark"></i> </span><span class="sr-only">Toggle Dropdown</span></button>
                                            <div class="dropdown-menu py-0"><a class="dropdown-item rounded-top" onclick="EditArticle('<%= Articles[i]._id %>')"><span class="fas fa-edit me-2"></span>ویرایش مفاله </a>
                                                <a class="dropdown-item text-danger rounded-bottom" onclick="DeleteArticle('<%= Articles[i]._id %>')"><span class="fa fa-trash me-2" aria-hidden="true"></span>حذف مقاله </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body py-4 px-0">
                            <a href="#"><img src="/images/ArticleAvatar/<%= Articles[i].Article_Avatar %>" class="card-img-top rounded" style="border:1px solid gray;width:500px;height:400px" alt="blog image">
                        <h4 class="my-4"><%= Articles[i].Article_Title %> </h4>
                    </a>
                            <p class="card-text mb-4">
                                <%= Articles[i].Article_Summary %> ...</p>
                        </div>
                        <div class="card-footer bg-white border-0 pt-0 px-0">
                            <div class="d-flex flex-wrap flex-lg-nowrap align-items-center justify-content-between">
                                <div class="post-details mb-3 mb-lg-0">
                                    <button class="btn me-3 btn-link text-primary"><i class="fas fa-share me-2"></i>آخرین تغییرات :<%= Articles[i].Article_LastUpdate %></button>
                                </div>
                                <div class="post-meta">
                                    <a href="../ArticlePage/<%= Articles[i]._id %>"> <button class="btn btn-secondary"><i class="far fa-save me-2"></i>خواندن مقاله</button></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <% } %>
        </div>
        <div id="EditArticles">
            <div class="card card-body shadow-sm mb-4">
                <div id="EditNameArticle">
                    <div class="mb-4">
                        <label for="email"> نام مقاله</label>
                        <input type="text" class="form-control" id="Edit_Article_Name">
                        <small id="emailHelp" class="form-text text-muted">نام جدید مقاله خود را وارد کنید</small>
                    </div>
                    <button id='UpdateNameArticle' class="btn btn-dark" type="button"><span class="fas fa-angle-left ms-2">  ویرایش</span></button>
                </div>
                <div id="ٍEditAvatarArticle">
                    <div class="mb-3">
                        <label for="formFile" class="form-label">   عکس شاخص مقاله خود را انتخاب کنید</label>
                        <input class="form-control" type="file" id="formFileEdit">
                    </div>
                    <button id='updateAvatarArticle' class="btn btn-dark" type="button"><span class="fas fa-angle-left ms-2">  ویرایش عکس شاخص</span></button>
                </div>
                <div id="EditArticleData">
                    <textarea name="editor9"></textarea>
                    <script>
                        CKEDITOR.replace('editor9', {


                            filebrowserUploadUrl: '/Articles/AddArticlesPhotos',

                        })
                    </script>
                    <button id='updateSubmitArticle' class="btn btn-success " type="button"><span class="fas fa-angle-left ms-2">  ویرایش مقاله</span></button>

                </div>
            </div>
        </div>

        <script src="https://cdn.ckeditor.com/4.16.0/standard/ckeditor.js"></script>
        <footer class="footer section py-5">
            <div class="row">
                <div class="col-12 col-lg-6 mb-4 mb-lg-0">
                    <p class="mb-0 text-center text-xl-left">Copyright © 2019-<span class="current-year"></span> <a class="text-primary fw-normal" href="https://themesberg.com" target="_blank">Themesberg</a></p>
                </div>

                <div class="col-12 col-lg-6">
                    <!-- List -->
                    <ul class="list-inline list-group-flush list-group-borderless text-center text-xl-right mb-0">
                        <li class="list-inline-item px-0 px-sm-2">
                            <a href="https://themesberg.com/about">About</a>
                        </li>
                        <li class="list-inline-item px-0 px-sm-2">
                            <a href="https://themesberg.com/themes">Themes</a>
                        </li>
                        <li class="list-inline-item px-0 px-sm-2">
                            <a href="https://themesberg.com/blog">Blog</a>
                        </li>
                        <li class="list-inline-item px-0 px-sm-2">
                            <a href="https://themesberg.com/contact">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </footer>
    </main>

    <!-- Core -->
    <script src="/Admin/html&css/vendor/@popperjs/core/dist/umd/popper.min.js"></script>
    <script src="/Admin/html&css/vendor/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- Vendor JS -->
    <script src="/Admin/html&css/vendor/onscreen/dist/on-screen.umd.min.js"></script>

    <!-- Slider -->
    <script src="/Admin/html&css/vendor/nouislider/distribute/nouislider.min.js"></script>

    <!-- Smooth scroll -->
    <script src="/Admin/html&css/vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>

    <!-- Charts -->
    <script src="/Admin/html&css/vendor/chartist/dist/chartist.min.js"></script>
    <script src="/Admin/html&css/vendor/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.min.js"></script>

    <!-- Datepicker -->
    <script src="/Admin/html&css/vendor/vanillajs-datepicker/dist/js/datepicker.min.js"></script>

    <!-- Sweet Alerts 2 -->
    <script src="/Admin/html&css/vendor/sweetalert2/dist/sweetalert2.all.min.js"></script>

    <!-- Moment JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment.min.js"></script>

    <!-- Vanilla JS Datepicker -->
    <script src="/Admin/html&css/vendor/vanillajs-datepicker/dist/js/datepicker.min.js"></script>

    <!-- Notyf -->
    <script src="/Admin/html&css/vendor/notyf/notyf.min.js"></script>

    <!-- Simplebar -->
    <script src="/Admin/html&css/vendor/simplebar/dist/simplebar.min.js"></script>

    <!-- Github buttons -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>

    <!-- Volt JS -->
    <script src="/Admin/html&css/assets/js/volt.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="/javascripts/UserArticles.js"></script>
</body>

< /html>